<!DOCTYPE html>
<html>
<head>
  <title>Chat Cliente</title>
  <style>
    .container {
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Chat</h1>
    <div id="chatbox" class="mb-3"></div>
    <div class="input-group">
      <input type="email" id="user" class="form-control" placeholder="Email">
      <input type="text" id="message" class="form-control" placeholder="Escribe un mensaje...">
      <div class="input-group-append">
        <button onclick="sendMessage('{{user}}')" class="btn btn-primary">Enviar</button>
      </div>
    </div>
    <p id="nomessage"></p>

    <div id="alert-container" class="mt-3"></div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>
