<!DOCTYPE html>
<html>
<head>
  <title>Recuperar contrase単a</title>
  <style>
    .container {
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Recuperar contrase単a</h1>
    <div class="input-group">
      <input type="password" id="password1" class="form-control" placeholder="Contrase単a" value="test1">
      <input type="password" id="password2" class="form-control" placeholder="Re-ingrese la contrase単a" value="test1">
      <div class="input-group-append">
        <button class="btn btn-success" onclick="updatePasswords()">Recuperar</button>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/recoverpassword.js"></script>
</body>
</html>
