<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h2 class="mb-4">Registrarse</h2>
            <form id="registroForm" onsubmit="registro(event)" method="post">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="verificarContrasena" class="form-label">Verificar Contraseña</label>
                    <input type="password" class="form-control" id="verificarContrasena" name="password2"
                        required>
                    <div id="passwordError" class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <div id="registroExitoso" class="mt-3 alert alert-success d-none">Registro exitoso.</div>
            </form>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/user.js"></script>